<template>
<div id="app">
  <main-header></main-header>
  <router-view></router-view>
  <main-footer></main-footer>
</div>
</template>

<script>
import MainHeader from './components/MainHeader'
import MainFooter from './components/MainFooter'

export default {
  name: 'app',
  components: {
    MainHeader,
    MainFooter
  }
}
</script>

<style>
html {
  height: 100%;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f8fa;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #2c3e50;
  height: 100%;
  margin: 0 auto;
}
#app {
  position: relative;
  min-height: 100%;
}
.main-container {
  min-height: 100%;
  height: auto;
  width: 800px;
  margin: 0 auto;
  padding: 60px 0 100px;
}
.container {
  margin: 30px auto;
}
</style>
