<template>
<div class="main-container">
  <div class="container">
    <el-form ref="courseForm" :model="course" :rules="rules" label-width="100px">
      <el-card class="box-card">
        <div class="info-header">
          <h3>课程信息</h3>
        </div>
        <el-form-item label="课程名称" prop="name">
          <el-col :span="8">
            <el-input v-model="course.name" placeholder="请输课程名称"></el-input>
          </el-col>
        </el-form-item>
        <el-form-item label="开课时间">
          <el-date-picker
            v-model="course.date"
            type="date"
            placeholder="请选择开课日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="课程简介" prop="desc">
          <el-input type="textarea" :autosize="{ minRows: 8 }" placeholder="请输入课程简介" v-model="course.desc"></el-input>
        </el-form-item>
        <el-form-item label="可进入">
          <el-switch on-text="" off-text="" v-model="course.available"></el-switch>
        </el-form-item>
      </el-card>

      <!-- note -->
      <el-card class="box-card" v-for="(note, index) in course.notes" :key="index">
        <div class="btn-remove-note">
          <el-button v-if="index > 1" :plain="true" type="danger" size="small" icon="delete" @click="removeNote(index)">删除项目</el-button>
        </div>
        <el-form label-width="100px">
          <el-form-item label="项目标题">
            <el-col :span="8">
              <el-input v-model="note.title" placeholder="请输入项目标题"></el-input>
            </el-col>
          </el-form-item>
          <template v-for="(step, stepIndex) in note.steps">
            <el-form-item label="子项目标题">
              <el-col :span="8">
                <el-input v-model="step.title" placeholder="请输入子项目标题"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="子项目内容">
              <el-input type="textarea" :autosize="{ minRows: 8}" placeholder="请输入子项目内容" v-model="step.desc"></el-input>
            </el-form-item>
            <el-form-item label="子项目配图">
              <div class="container" v-if="step.pic">
                <img class="step-pic" :src="'/storage/pics/note/' + step.pic">
                <el-button :plain="true" type="danger" size="small" icon="delete" @click="deleteUploadedPic(index, stepIndex)">删除图片</el-button>
              </div>
              <el-upload
                class="upload-demo"
                action="/api/utils/upload/notePic"
                name="notePic"
                :multiple="false"
                :show-file-list="false"
                :on-preview="picPreview"
                :on-success="uploadSuccess">
                <el-button size="small" type="primary" @click="uploadPic(index, stepIndex)">点击上传</el-button>
                <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
              </el-upload>
            </el-form-item>
            <el-form-item label="视频链接">
              <el-col :span="12">
                <el-input v-model="step.video" placeholder="请输入视频链接"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item v-if="stepIndex > 0">
              <el-button :plain="true" type="danger" size="small" icon="delete" @click="removeStep(index, stepIndex)">删除 {{ step.title }}</el-button>
            </el-form-item>
          </template>
          <el-form-item>
            <el-button icon="plus" @click="addStep(index)">新增子项目</el-button>
          </el-form-item>
        </el-form>
      </el-card>
      <div class="btn-add-note">
        <el-button icon="plus" @click="addNote">新增项目</el-button>
      </div>
      <el-form-item>
        <el-button type="primary" icon="check" @click="submitCourse('courseForm')">{{ isEdit ? '保存修改' : '添加课程' }}</el-button>
        <el-button type="danger" icon="delete" v-if="isEdit" @click="showDeleteDialog=true">删除</el-button>
      </el-form-item>
    </el-form>
  </div>

  <el-dialog title="删除课程" v-model="showDeleteDialog" size="tiny">
    <span>确定要删除该课程么？</span>
    <span slot="footer" class="dialog-footer">
      <el-button @click="showDeleteDialog=false">取消</el-button>
      <el-button type="danger" @click="deleteCourse">删除</el-button>
    </span>
  </el-dialog>

  <el-dialog v-model="dialogVisible" size="tiny">
    <img width="100%" :src="dialogImageUrl" alt="">
  </el-dialog>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'course',
  data() {
    return {
      course: {
        name: undefined,
        desc: '',
        date: undefined,
        students: [],
        notes: [
          {
            title: '',
            steps: [{
              title: '',
              desc: '',
              pic: '',
              video: ''
            }]
          },
          {
            title: '',
            steps: [{
              title: '',
              desc: '',
              pic: '',
              video: ''
            }]
          }
        ],
        available: false
      },
      rules: {
        name: [
          { required: true, message: '请输入课程名称', trigger: 'blur' }
        ],
        desc: [
          { required: true, message: '请输入课程简介', trigger: 'blur' }
        ]
      },
      isEdit: false,
      showDeleteDialog: false,
      dialogImageUrl: '',
      dialogVisible: false,
      uploadNoteIndex: null,
      uploadStepIndex: null
    }
  },
  methods: {
    uploadPic(index, stepIndex) {
      this.uploadNoteIndex = index
      this.uploadStepIndex = stepIndex
    },
    uploadSuccess(res, file, fileList) {
      this.course.notes[this.uploadNoteIndex].steps[this.uploadStepIndex].pic = res.picName
    },
    deleteUploadedPic(index, stepIndex) {
      this.course.notes[index].steps[stepIndex].pic = ''
    },
    picPreview(file) {
      this.dialogImageUrl = file.url
      this.dialogVisible = true
    },
    addNote() {
      this.course.notes.push({
        title: '',
        steps: [{
          title: '',
          desc: '',
          pic: '',
          video: ''
        }]
      })
    },
    removeNote(index) {
      this.course.notes.splice(index, 1)
    },
    addStep(index) {
      const steps = this.course.notes[index].steps
      steps.push(
        {
          title: '',
          desc: '',
          pic: '',
          video: ''
        }
      )
    },
    removeStep(index, stepIndex) {
      this.course.notes[index].steps.splice(stepIndex, 1)
    },
    addCourse() {
      axios.post('/api/course/add', this.course)
      .then(res => {
        this.$message.success('添加课程成功！')
        this.$router.push('/courseList')
      })
      .catch(err => {
        console.error(err)
        this.$message.error('添加课程失败，请重试！')
      })
    },
    updateCourse() {
      axios.put('/api/course/update', this.course)
      .then(res => {
        this.$message.success('保存修改成功！')
        this.$router.push('/courseList')
      })
      .catch(err => {
        console.error(err)
        this.$message.error('保存修改失败，请重试！')
      })
    },
    submitCourse(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.isEdit ? this.updateCourse() : this.addCourse()
        }
      })
    },
    deleteCourse() {
      axios.delete('/api/course/delete', { params: { _id: this.$route.params.id } })
      .then(res => {
        this.$message.success('删除成功！')
        this.$router.push('/courseList')
      })
      .catch(err => {
        console.error(err)
        this.$message.error('删除失败，请重试！')
      })
    }
  },
  created() {
    const that = this
    if (this.$route.params.id) {
      this.isEdit = true
      axios.get('/api/course/getCourse', { params: { _id: this.$route.params.id } })
      .then(res => {
        that.course = res.data
      })
      .catch(err => {
        console.error(err)
      })
    }
  }
}
</script>

<style>
.box-card {
  margin-bottom: 30px;
}
.info-header {
  width: 100%;
  margin: 10px auto 30px;
  text-align: center;
}
.btn-add-note {
  margin-bottom: 60px;
}
.btn-remove-note {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
}
.step-pic {
  display: block;
  margin-bottom: 16px;
}
</style>
