<template>
<div class="main-container">
  <div class="container">
    <el-button type="primary" icon="plus" @click="toAddCourse">添加课程</el-button>
  </div>
  <div class="container" v-loading="loading" element-loading-text="数据加载中……">
    <el-card class="box-card" v-for="course in courses" :key="course._id">
      <div slot="header" class="course-info-header">
        <div class="course-info-title">
          <h3>{{ course.name }}</h3>
          <el-tag type="success" class="course-info-tag" v-if="course.available">启用</el-tag>
        </div>
        <el-button icon="edit" @click="toEditCourse(course._id)">编辑课程</el-button>
      </div>
      <div>{{ course.desc }}</div>
    </el-card>
  </div>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'course-list',
  data() {
    return {
      courses: [],
      loading: false
    }
  },
  methods: {
    toAddCourse() {
      this.$router.push('/addCourse')
    },
    toEditCourse(id) {
      this.$router.push(`/editCourse/${id}`)
    }
  },
  created() {
    const that = this
    that.loading = true
    axios.get('/api/course/getCoursesInfo')
    .then((res) => {
      that.courses = res.data
      that.loading = false
    })
    .catch((err) => {
      console.error(err)
      that.loading = false
    })
  }
}
</script>

<style>
.course-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-info-title {
  display: flex;
  align-items: center;
}
.course-info-tag {
  margin-left: 10px;
}
</style>
