<template>
<div class="footer-container">
  <p>Copyright &copy 2017 游老师</p>
</div>
</template>

<script>
export default {
  name: 'footer'
}
</script>

<style>
.footer-container {
  width: 100%;
  height: 100px;
  background-color: #324157;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bfcbd9;
}
</style>
