<template>
<div class="main-header">
  <el-menu theme="dark" :default-active="activeIndex" mode="horizontal" :router="true">
    <div class="menu-inner">
      <el-menu-item index="/">评价管理</el-menu-item>
      <el-menu-item index="/courseList">课程管理</el-menu-item>
      <el-menu-item index="/studentList">学生管理</el-menu-item>
    </div>
  </el-menu>
</div>
</template>

<script>
export default {
  name: 'main-header',
  computed: {
    activeIndex: function() {
      return this.$route.path
    }
  }
}
</script>

<style>
.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.menu-inner {
  width: 800px;
  margin: 0 auto;
}
</style>
