<template>
<div class="main-container">
  <div class="container">
    <el-table :data="tableData" border style="width:100%">
      <el-table-column prop="studentName" label="姓名">
      </el-table-column>
      <el-table-column sortable prop="district" label="区域">
      </el-table-column>
      <el-table-column sortable prop="courseName" label="课程">
      </el-table-column>
      <el-table-column width="100" label="操作">
        <template scope="scope">
          <el-button :type="scope.row.evaluated ? 'success' : ''" size="small" @click="toReport(scope.row)">{{ scope.row.evaluated ? '已评价' : '未评价' }}</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'report-list',
  data() {
    return {
      tableData: []
    }
  },
  methods: {
    toReport(row) {
      if (row.evaluated) {
        this.$router.push(`/editReport/${row.rid}`)
      } else {
        // 要有 name，才可以传 params
        this.$router.push({ name: 'AddReport', params: { cid: row.cid, sid: row.sid } })
      }
    }
  },
  created() {
    const that = this
    axios.get('/api/report/getReportList')
    .then((res) => {
      that.tableData = res.data
    })
    .catch((err) => {
      console.error(err)
    })
  }
}
</script>

<style>
</style>
