<template>
<div class="main-container">
  <div class="container">
    <el-card class="box-card">
      <div slot="header" class="course-info-header">
        <div class="course-info-title">
          <h3>{{ report.course.name }}</h3>
          <el-tag type="success" class="course-info-tag">启用</el-tag>
        </div>
      </div>
      <div>{{ report.course.desc }}</div>
    </el-card>

    <el-card class="box-card">
      <div slot="header" class="course-info-header">
        <div class="course-info-title">
          <h3>学生信息</h3>
        </div>
      </div>
      <el-table :data="studentInfo" border style="width:100%">
        <el-table-column prop="name" label="姓名">
        </el-table-column>
        <el-table-column prop="gender" label="性别" :formatter="formatGender">
        </el-table-column>
        <el-table-column prop="age" label="年龄">
        </el-table-column>
        <el-table-column prop="desc" label="备注">
        </el-table-column>
      </el-table>
    </el-card>

    <el-form ref="reportForm" :model="report" :rules="rules" label-width="100px">
      <el-form-item label="老师评价" prop="comment">
        <el-input type="textarea" :autosize="{ minRows: 8}" placeholder="请输入评价内容" v-model="report.comment"></el-input>
      </el-form-item>
      <template v-for="badge in badges">
        <el-form-item :label="badge.name">
          <div class="badge-counter-container">
            <img class="img-badge" :src="`/static/badges/${badge.alias}.png`">
            <el-input-number v-model="badge.count" :min="0" :max="100"></el-input-number>
          </div>
        </el-form-item>
      </template>
      <el-form-item label="作品链接">
        <el-col :span="12">
          <el-input v-model="report.assignment" placeholder="请输入学生作品链接"></el-input>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="check" @click="submitReport('reportForm')">{{ isEdit ? '保存修改' : '添加评价' }}</el-button>
        <el-button v-if="isEdit" type="danger" icon="delete" @click="showDeleteDialog=true">删除</el-button>
      </el-form-item>
    </el-form>
  </div>

  <el-dialog title="删除评价" v-model="showDeleteDialog" size="tiny">
    <span>确定要删除该评价么？</span>
    <span slot="footer" class="dialog-footer">
      <el-button @click="showDeleteDialog=false">取消</el-button>
      <el-button type="danger" @click="deleteReport">删除</el-button>
    </span>
  </el-dialog>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'report',
  data() {
    return {
      isEdit: false,
      showDeleteDialog: false,
      badges: [
        {
          name: '主动求助',
          alias: 'ask',
          count: 0
        },
        {
          name: '分工合作',
          alias: 'collaborate',
          count: 0
        },
        {
          name: '听指令',
          alias: 'compliance',
          count: 0
        },
        {
          name: '有创意',
          alias: 'creative',
          count: 0
        },
        {
          name: '完成任务',
          alias: 'finish',
          count: 0
        },
        {
          name: '专心',
          alias: 'focus',
          count: 0
        },
        {
          name: '帮助他人',
          alias: 'help',
          count: 0
        },
        {
          name: '认真聆听',
          alias: 'listen',
          count: 0
        },
        {
          name: '发表意见',
          alias: 'opinion',
          count: 0
        },
        {
          name: '安静',
          alias: 'quiet',
          count: 0
        },
        {
          name: '坐好',
          alias: 'sit',
          count: 0
        },
        {
          name: '努力思考',
          alias: 'think',
          count: 0
        },
        {
          name: '勇于尝试',
          alias: 'try',
          count: 0
        }
      ],
      report: {
        student: {
          name: '',
          gender: null,
          age: null,
          desc: ''
        },
        course: { name: '', desc: '' },
        comment: '',
        assignment: '',
        evaluated: false
      },
      rules: {
        comment: [
          { required: true, message: '请输入评价内容', trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    studentInfo: function() {
      return [this.report.student]
    }
  },
  methods: {
    addReport() {
      if (this.report.student && this.report.course) {
        this.report.badges = this.badges
        this.report.evaluated = true
        axios.post('/api/report/add', this.report)
        .then(res => {
          this.$message.success('保存评价成功！')
          this.$router.push('/')
        })
        .catch(err => {
          console.error(err.message)
          this.$message.error('保存评价失败，请重试！')
        })
      } else {
        this.$message.error('保存评价失败，请重试！')
      }
    },
    updateReport() {
      if (this.report.student && this.report.course) {
        this.report.badges = this.badges
        axios.put('/api/report/update', this.report)
        .then(res => {
          this.$message.success('保存评价成功！')
          this.$router.push('/')
        })
        .catch(err => {
          console.error(err.message)
          this.$message.error('保存评价失败，请重试！')
        })
      } else {
        this.$message.error('保存评价失败，请重试！')
      }
    },
    submitReport(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.isEdit ? this.updateReport() : this.addReport()
        }
      })
    },
    deleteReport() {
      axios.delete('/api/report/delete', { params: { _id: this.$route.params.id } })
      .then(res => {
        this.$message.success('删除成功！')
        this.$router.push('/')
      })
      .catch(err => {
        console.error(err)
        this.$message.error('删除失败，请重试！')
      })
    },
    formatGender(row, column) {
      if (row.gender == 1) {
        return '男生'
      } else if (row.gender == 0) {
        return '女生'
      } else {
        return '未填写'
      }
    }
  },
  created() {
    if (this.$route.name == 'AddReport') {
      const that = this
      this.report.course = this.$route.params.cid
      this.report.student = this.$route.params.sid
      Promise.all(
        [axios.get('/api/course/getCourse', { params: { _id: this.$route.params.cid } }),
        axios.get('/api/student/getStudent', { params: { _id: this.$route.params.sid } })]
      ).then(data => {
        that.report.course = data[0].data
        that.report.student = data[1].data
      }).catch(err => {
        console.error(err.message)
      })
    } else {
      this.isEdit = true
      const that = this
      axios.get('/api/report/getReport', { params: { _id: this.$route.params.id } })
      .then(res => {
        that.report = res.data
        if (that.report.badges.length !== 0) {
          that.badges = that.report.badges
        }
      })
      .catch(err => {
        console.error(err.message)
      })
    }
  }
}
</script>

<style>
.badge-counter-container {
  display: flex;
  align-items: center;
}
.img-badge {
  width: 60px;
  margin-right: 16px;
}
</style>
