<template>
<div class="main-container">
  <div class="container">
    <el-button type="primary" icon="plus" @click="toAddStudent">添加学生</el-button>
  </div>
  <div class="container">
    <el-table :data="tableData" border style="width:100%" v-loading="loading" element-loading-text="数据加载中……">
      <el-table-column prop="name" label="姓名">
      </el-table-column>
      <el-table-column prop="gender" label="性别" :formatter="formatGender">
      </el-table-column>
      <el-table-column prop="age" label="年龄">
      </el-table-column>
      <el-table-column prop="district" label="区域">
      </el-table-column>
      <el-table-column width="120" label="操作">
        <template scope="scope">
          <el-button size="small" @click="toEditStudent(scope.row)">编辑</el-button>
          <el-popover
            ref="popover"
            placement="top-start"
            trigger="hover"
            @show="getQRCode(scope.row)"
          ><img :src="qrCode"></el-popover>
          <span class="qrcode" v-popover:popover><i class="el-icon-menu"></i></span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'student-list',
  data() {
    return {
      tableData: [],
      loading: false,
      qrCode: ''
    }
  },
  methods: {
    formatGender(row, column) {
      if (row.gender == 1) {
        return '男生'
      } else if (row.gender == 0) {
        return '女生'
      } else {
        return '未填写'
      }
    },
    toAddStudent() {
      this.$router.push('/addStudent')
    },
    toEditStudent(row) {
      this.$router.push(`/editStudent/${row._id}`)
    },
    getQRCode(row) {
      const that = this
      axios.get('/api/utils/getQRCode', { params: { sid: row._id } })
      .then(res => {
        that.qrCode = res.data
      })
      .catch(err => {
        console.error(err)
      })
    }
  },
  created() {
    const that = this
    that.loading = true
    axios.get('/api/student/getStudents')
    .then(res => {
      that.tableData = res.data
      that.loading = false
    })
    .catch(err => {
      console.error(err)
      that.loading = false
    })
  }
}
</script>

<style>
.qrcode {
  margin-left: 10px;
}
</style>
