<template>
<div class="main-container">
  <div class="container">
    <el-form ref="studentForm" :model="student" :rules="rules" label-width="100px">
      <el-form-item label="学生姓名" prop="name">
        <el-col :span="8">
          <el-input v-model="student.name" placeholder="请输入学生姓名"></el-input>
        </el-col>
      </el-form-item>
      <el-form-item label="学生学号">
        <el-col :span="8">
          <el-input v-model="student.sid" placeholder="请输入学生学号"></el-input>
        </el-col>
      </el-form-item>
      <el-form-item label="所在区域" prop="district">
        <el-select v-model="student.district" placeholder="请选择所在区域">
          <el-option label="越秀区" value="越秀区"></el-option>
          <el-option label="白云区" value="白云区"></el-option>
          <el-option label="天河区" value="天河区"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="学生年龄" prop="age">
        <el-input-number v-model="student.age" :min="1"></el-input-number>
      </el-form-item>
      <el-form-item label="学生性别" prop="gender">
        <el-radio-group v-model="student.gender">
          <el-radio :label="1">男生</el-radio>
          <el-radio :label="0">女生</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="备注">
        <el-input type="textarea" :autosize="{ minRows: 8}" placeholder="请输入备注内容，如：学生喜欢车，可以通过车来吸引他的注意" v-model="student.desc"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="check" @click="submitStudent('studentForm')">{{ isEdit ? '保存修改' : '添加学生' }}</el-button>
        <el-button type="danger" icon="delete" v-if="isEdit" @click="showDeleteDialog=true">删除</el-button>
      </el-form-item>
    </el-form>
  </div>

  <el-dialog title="删除学生" v-model="showDeleteDialog" size="tiny">
    <span>确定要删除该学习么？</span>
    <span slot="footer" class="dialog-footer">
      <el-button @click="showDeleteDialog=false">取消</el-button>
      <el-button type="danger" @click="deleteStudent">删除</el-button>
    </span>
  </el-dialog>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'student',
  data() {
    return {
      student: {
        sid: '',
        name: '',
        desc: '',
        district: null,
        gender: null,
        age: null,
        courses: []
      },
      isEdit: false,
      showDeleteDialog: false,
      rules: {
        name: [
          { required: true, message: '请输入学生姓名', trigger: 'blur' }
        ],
        district: [
          { required: true, message: '请选择学生所属区', trigger: 'change' }
        ],
        age: [
          { type: 'number', required: true, message: '请选择学生年龄', trigger: 'change' }
        ],
        gender: [
          { type: 'number', required: true, message: '请选择学生性别', trigger: 'change' }
        ]
      }
    }
  },
  methods: {
    addStudent() {
      axios.post('/api/student/add', this.student)
      .then(res => {
        this.$message.success('添加学生成功！')
        this.$router.push('/studentList')
      })
      .catch(err => {
        console.error(err)
        this.$message.error('添加学生失败，请重试！')
      })
    },
    updateStudent() {
      axios.put('/api/student/add', this.student)
      .then(res => {
        this.$message.success('保存修改成功！')
        this.$router.push('/studentList')
      })
      .catch(err => {
        console.error(err)
        this.$message.error('保存修改失败，请重试！')
      })
    },
    submitStudent(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.isEdit ? this.updateStudent() : this.addStudent()
        }
      })
    },
    deleteStudent() {
      axios.delete('/api/student/delete', { params: { _id: this.$route.params.id } })
      .then(res => {
        this.$message.success('删除成功！')
        this.$router.push('/studentList')
      })
      .catch(err => {
        console.error(err)
        this.$message.error('删除失败，请重试！')
      })
    }
  },
  created() {
    if (this.$route.params.id) {
      this.isEdit = true
      axios.get('/api/student/getStudent', { params: { _id: this.$route.params.id } })
      .then(res => {
        this.student = res.data
      })
      .catch(err => {
        console.error(err)
      })
    }
  }
}
</script>

<style>
</style>
