<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'app'
}
</script>

<style>
html {
  height: 100%;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-size: 18px;
  line-height: 2rem;
  color: #1E2020;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
#app {
  position: relative;
  min-height: 100%;
}
.card {
  padding: 16px 10px;
  background-color: #41B1E6;
  color: #fff;
  box-shadow: rgba(0,0,0,0.25) 0 -0.25rem inset;
  border-radius: 6px;
}
.card-container {
  margin: 46px auto 10px;
}
.btn {
  width: 90%;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-radius: 6px;
}
.btn-disabled {
  background-color: #e7eaf1;
  color: inherit;
}
.btn-active {
  background-color: #2d84cc;
  color: #fff;
}
</style>
