<template>
  <div class="report">
    <div class="assignment-container">
      <img class="logo" src="../assets/logo.png">
      <p class="empty-notice">暂无学生作品</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'assignment'
}
</script>

<style>
.assignment-container {
  padding-top: 120px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.empty-notice {
  margin-top: 30px;
}
</style>
