<template>
  <div class="course-list">
    <div class="student-info">
      <img class="logo" src="../assets/logo.png">
      <h1 class="student-name">{{ student.name }}</h1>
    </div>
    <div class="course-container">
      <div class="card-container" v-for="course in courses" :key="course">
        <div :class=" course.available ? 'card' : 'disabledCard'" @click="toCourse(course)">
          <div class="card-title-container">
            <h2 class="card-title">{{ course.name }}</h2>
          </div>
          <p>{{ course.desc }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'course-list',
  data() {
    return {
      courses: [],
      student: []
    }
  },
  methods: {
    toCourse(course) {
      if (course.available) {
        this.$router.push(`/notes/${this.$route.params.sid}/${course._id}`)
      }
    }
  },
  created() {
    const that = this
    axios.get('/api/course/getCoursesInfo')
    .then((res) => {
      that.courses = res.data
    })
    .catch((err) => {
      console.error(err)
    })
    if (this.$route.params.sid) {
      axios.get('/api/student/getStudent', { params: { _id: this.$route.params.sid } })
      .then((res) => {
        that.student = res.data
      })
      .catch((err) => {
        console.error(err)
      })
    }
  }
}
</script>

<style>
.logo {
  width: 120px;
  margin-bottom: 20px;
}
.student-info {
  padding: 60px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.student-name {
  color: #45a3e5;
}
.course-container {
  padding: 10px;
  text-align: left;
}
.card-title-container {
  background-color: #F2CE43;
  box-shadow: rgba(0,0,0,0.25) 0 -0.25rem inset;
  border-radius: 6px;
  height: 60px;
  margin: -46px auto 16px;
}
.card-title {
  text-align: center;
  color: #1E2020;
  line-height: 60px;
}
.disabledCard {
  padding: 16px 10px;
  background-color: #f2f2f2;
  color: #b2b2b2;
  border: .1875rem dashed #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
}
</style>
