<template>
  <div class="course-detail">
    <router-view></router-view>
    <main-header></main-header>
  </div>
</template>

<script>
import MainHeader from './MainHeader'

export default {
  name: 'course-detail',
  components: {
    MainHeader
  }
}
</script>

<style>
.course-detail {
  min-height: 100%;
  height: auto;
}
</style>
