<template >
  <div class="login">
    <div class="login-form card">
      <img class="logo" src="../assets/logo.png">
      <h2>游老师课程查询</h2>
      <input id="student-id" placeholder="请输入学生姓名" v-model="studentId">
      <router-link :class="['btn', studentId == '' ? 'btn-disabled' : 'btn-active']" to="/student">查询</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'login',
  data() {
    return {
      studentId: ''
    }
  }
}
</script>

<style>
.login {
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 30px 10px;
}
#student-id {
  height: 48px;
  width: 90%;
  margin: 50px auto 30px;
}
</style>
