<template>
  <div class="main-header">
    <router-link :to="url.notes" replace :class="['nav-item', activeTab == 'NOTES' ? 'nav-item-active' : '']">课堂笔记</router-link>
    <router-link :to="url.report" replace :class="['nav-item', activeTab == 'REPORT' ? 'nav-item-active' : '']">老师评价</router-link>
    <router-link :to="url.assignment" replace :class="['nav-item', activeTab == 'ASSIGNMENT' ? 'nav-item-active' : '']">学生作品</router-link>
  </div>
</template>

<script>
export default {
  name: 'main-header',
  computed: {
    activeTab: function() {
      return this.$route.name
    },
    url: function() {
      return {
        notes: `/notes/${this.$route.params.sid}/${this.$route.params.cid}`,
        report: `/report/${this.$route.params.sid}/${this.$route.params.cid}`,
        assignment: `/assignment/${this.$route.params.sid}/${this.$route.params.cid}`
      }
    }
  }
}
</script>

<style>
.main-header {
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  align-content: stretch;
  border-top: 1px solid #e7eaf1;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, .1);
  background-color: #fff;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  color: #8590a6;
}
.nav-item-active {
  font-weight: bold;
  color: #20a0ff;
}
</style>
