<template>
  <div class="report">
    <div class="card-container" v-for="(note, index) in notes">
      <div class="card">
        <div class="card-title-container">
          <h2 class="card-title">{{ note.title }}</h2>
        </div>
        <div :class="[index == 0 ? 'key-container' : 'step-container']" v-for="(step, stepIndex) in note.steps">
          <h3 class="step-title" v-if="step.title">{{ step.title }}</h3>
          <p class="step-desc" v-if="step.desc">{{ step.desc }}</p>
          <img class="step-pic" v-if="step.pic" :src="'/storage/pics/note/' + step.pic">
          <iframe class="step-video" v-if="step.video" frameborder="0" :src="step.video" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'notes',
  data() {
    return {
      notes: []
    }
  },
  created() {
    const that = this
    axios.get('/api/course/getCourseNote', { params: { _id: this.$route.params.cid } })
    .then((res) => {
      that.notes = res.data.notes
    })
    .catch((err) => {
      console.error(err)
    })
  }
}
</script>

<style>
.step-container:not(:last-of-type) {
  margin-bottom: 40px;
}
.key-container:not(:last-of-type) {
  margin-bottom: 16px;
}
.step-title {
  background-color: rgba(255, 255, 255, .2);
  box-shadow: rgba(0,0,0,0.25) 0 -0.25rem inset;
  border-radius: 6px;
  width: 70%;
  margin: 16px auto;
  padding: 16px 0;
  text-align: center;
}
.step-desc {
  text-align: center;
  margin: 16px auto;
}
.step-pic {
  width: 100%;
}
.step-video {
  width: 100%;
  height: auto;
}
</style>
