<template>
  <div class="report">
    <template v-if="report && report.evaluated">
      <div class="card-container">
        <div class="card">
          <div class="card-title-container">
            <h2 class="card-title">课堂奖励</h2>
          </div>
          <div class="badge-container" v-if="report.badges && report.badges.length > 0">
            <div class="badge-card card" v-for="badge in report.badges">
              <img class="badge" :src="`/static/badges/${badge.alias}.png`">
              <p class="badge-name">{{ badge.name }}</p>
              <p class="badge-count">x {{ badge.count }}</p>
            </div>
          </div>
          <p v-else class="badge-empty">暂未获得奖励，请继续努力</p>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="card-title-container">
            <h2 class="card-title">老师评价</h2>
          </div>
          <p class="comment">{{ report.comment }}</p>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="assignment-container">
        <img class="logo" src="../assets/logo.png">
        <p class="empty-notice">请等待老师的评价</p>
      </div>
    </template>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'report',
  data() {
    return {
      report: undefined
    }
  },
  created() {
    const that = this
    axios.get('/api/report/getReportByIds', { params: { student: this.$route.params.sid, course: this.$route.params.cid } })
    .then((res) => {
      that.report = res.data
      let badges = []
      if (this.report.badges) {
        this.report.badges.forEach((badge) => {
          if (badge.count > 0) {
            badges.push(badge)
          }
        })
      }
      that.report.badges = badges
    })
    .catch((err) => {
      console.error(err.message)
    })
  }
}
</script>

<style>
.report {
  min-height: 100%;
  padding: 10px;
  padding-bottom: 60px;
}
.badge-container {
  display: flex;
  flex-wrap: wrap;
}
.badge-card {
  background-color: #fff;
  color: #1E2020;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 0 8px 8px 0;
}
.badge {
  width: 60px;
  height: 60px;
}
.badge-name {
  font-size: 14px;
}
.badge-count {
  font-size: 24px;
  font-weight: bold;
  color: #F2CE43;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}
.badge-empty {
  text-align: center;
}
.comment {
  margin: 16px auto;
}
</style>
